<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="text-center">
        <a href="/">Tech Blog</a>
      </h1>
      
      <nav class="text-center p-3 ">
        <a class="p-5" href="/">Home</a>
        <!--logout will not be a page people can visit like login so we just give it a button-->
        {{#if loggedIn}}
        <a class="p-5" href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style text-primary">Logout</button>
        {{else}}
        <a class="p-5" href="/login">Login</a>
        {{/if}}
      </nav>
      
    </header>
    <main class="p-5">
      {{{ body }}}
    </main>
    <footer class="text-primary m-5">
      Copyright 2022
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>