{{#if posts.length}}
<section>
  <h2>Your Dashboard</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      <a href="/dashboard/new" class="post-link">Create post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}