<div class="form">
<form class="signup-form">
  <h2>Signup...</h2>
  <div class="mb-3">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="signup btn btn-primary" type="submit">signup</button>
  </div>
  <div>
    <a href="/login">Login instead</a>
  </div>
</form>
</div>
<script src="/javascript/signup.js"></script>